<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
      crossorigin="anonymous" 
    /> 
    <title>Название вкладки</title>  
    
</head>  
<body style="--tw-bg-opacity: 1; background-color: rgb(20 20 20 / var(--tw-bg-opacity));color:rgb(224, 224, 224);"> 
    <div>  
        <h1>Coin and time_frame</h1>  
        <table class="table table-dark table-bordered"> 
            <thead> 
                <tr>   
                    <th>Coin</th>  
                    <th>TF</th>  
                </tr> 
            </thead>  
            <tbody>  
                <tr>  
                    <td> {{ symbol }} </td>  
                    <td> {{ tf }} </td>   
                </tr> 
            </tbody>  
        </table>  
    </div> 


</body>  
</html>